body {
	background-color:#E1E0E0;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	color: #0080FF;
}

a {
	color: red;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
color: green;
text-decoration: none;
}

img {
	width: 300px;
}

td {
	padding: 10px;
}

#container {
	width: 700px;
	margin: 0 auto;
}
.card {
	box-shadow: 10px 10px 10px #888888;
	margin-top: 50px;
	background-color: #FDFDFD;
}