html{
	height: 100%;
}
body {
	background-color:#E1E0E0;
	color:grey;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	color: #E6154D;
}

a{
	color: red;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
color: blue;
text-decoration: none;
}

img {
	width: 300px;
}

td {
	padding: 10px;
}

i{
	margin: 10px;
}

#container {
	width: 80%;
	margin: 0 auto;
}
#bouton{
	background-color: #E6154D;
	width: 20%;
	margin:0 auto;
	color: white;
	border-radius: 20px;
	padding: 5px;
}
#menu {
  display: block;
  position: fixed;
  left: 0;
  width: 5em;
  height: 100%;
  margin-top: -3em;
  margin-right: 5em;
  background-color: #384047;
  }

.card {
	box-shadow: 10px 10px 10px #888888;
	margin-top: 50px;
	padding: 10px;
	background-color: #FDFDFD;
	text-align: center;
}
.card:first-child {
	padding-top: 30px;
}

.img-rond{
    border-radius:70px;
    width:120px;
    height:120px;
}

.list-inline {
padding-left: 0px;
list-style: none;
}

.list-inline > li {
display: inline-block;
width: 120px;
}
.bloc{
	display: block;
}

.lien-nu {
	text-decoration: none;
	list-style: none;
	color: white;
}