body {
	background-color:#E6154D;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	color: #0080FF;
}

a {
	color: yellow;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
color: yellow;
text-decoration: none;
}